/* *********** MAIN *********** */

body, html, main {
    color: #252839;
    background: none;
    font-size: 16px;
}

header {
    background: #252839;
    font-family:'Exo', sans-serif;
    color: #f2b632;
    text-align: center;
    font-size: 2em;
    height: 55px;
    padding-top: 10px;
}

a {
    outline: none;
    text-decoration: none;
}

ul, li {
    list-style-type: none;
}

.wrapper {
    padding: 0px;
}

/* *********** LOGIN CSS *********** */

.form-signin {
    max-width: 500px;
    padding: 19px 29px 29px;
    margin: 0 auto;
    background-color: #fff;

    border: 1px solid #e5e5e5;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    -webkit-box-shadow: 0 1px 2px rgba(0,0,0,.05);
    -moz-box-shadow: 0 1px 2px rgba(0,0,0,.05);
    box-shadow: 0 1px 2px rgba(0,0,0,.05);

    font-family:Tahoma, Geneva, sans-serif;
    color:#990000;
    font-weight:lighter;
}

.form-signin .form-signin-heading{
    color:#00A2D1;
}
.form-signin input[type="text"],
.form-signin input[type="password"],
.form-signin input[type="email"] {
    font-size: 16px;
    height: 45px;
    padding: 7px 9px;
}

.signin-form, .body-container
{
//border:solid red 1px;
    margin-top:110px;
}
.navbar-brand{
    font-family:"Lucida Handwriting";
}


#loginform {
    display: none;
}

#searchform {
    display: none;
    background: #b5b5b7 none repeat scroll 0 0;
    padding: 0;
    margin: 0;
    height: auto;
    border-bottom: solid 0px #677077;
    z-index: 10;
    position: relative;
}

#searchResult {
    position: relative;
}

#searchKey {
    width: calc(100% - 150px);
    height: 45px;
    border: 0;
    border-bottom: inset 1px;
    padding: 10px;
}

#map {
    display: none;
}

#contactlist {
    display: none;
}

/* ******** LOGIN/REGISTER/USER ******** */


/* ******** BUTTONS ******** */

button {
    background: #b5b5b7;
    margin: 5px 0 5px 5px!important;
    padding: 10px 20px;
    border: none;
    text-align: center;
    text-decoration: none;
    display: inline-block;
}

#btnSearch {
    margin: 0 !important;
    width: 135px;
}

#btn-submit{
    height:45px;
}

.btn-white {
}

.btn-blue {
    background: #252839;
    color: white;
}

#btnLogout {
    position: absolute;
    right: 0;
    top: 0;
    font-size:1.5rem;
}

/* ******** CONTACTS ******** */

.searchedContact {
    background: #252839;
    color: #b5b5b7;
    margin:10px 10px;
    padding: 10px;
    height:85px;
}

.contactId {
    display: none;
}

.contactName {}

.contactFirstname {}

.contactZip {
    font-size: smaller;
}

.contactStreet {
    font-size: smaller;
}

.contactPhone {
    font-size: 0.8em;
}

.contactContent {
    float: left;
    height: auto;
}

.star {
    float: left;
    font-size: 3em;
    margin-right: 30px;
    margin-top: -15px;
}

.distance {
    float: right;
    font-size: larger;
    margin-right: 30px;
    margin-top: -45px;
    position: relative;
}

#contactlist > fieldset {
    background: #f2b632;
    color: #252839;
    margin:10px 10px;
    padding: 10px;
    height:auto;


}